listen_port: {{ listen_port }}
ip_info_access_token: {{ ip_info_access_token }}
routerboard_address: {{ routerboard_address }}
routerboard_user: {{ routerboard_user }}
routerboard_password: {{ routerboard_password }}
routerboard_use_ssl: {{ routerboard_use_ssl }}
routerboard_ssl_certificate_verify: {{ routerboard_ssl_certificate_verify }}
routerboard_ssl_certificate_path: {{ routerboard_ssl_certificate_path }}
routerboard_port: {{ routerboard_port }}
