listen_port: {{ listen_port }}

routerboard_address: {{ routerboard_address }}
routerboard_user: {{ routerboard_user }}
routerboard_password: {{ routerboard_password }}
routerboard_use_ssl: {{ routerboard_use_ssl }}
routerboard_ssl_certificate_verify: {{ routerboard_ssl_certificate_verify }}
routerboard_ssl_certificate_path: {{ routerboard_ssl_certificate_path }}
routerboard_port: {{ routerboard_port }}

city_db_path: {{ city_db_path }}
asn_db_path: {{ asn_db_path }}
