<head>
    <style>
        body {
            margin: 0;
        }
    </style>

    <script src="//unpkg.com/globe.gl"></script>

</head>

<body>
    <div id="globeViz"></div>

    <script>

        const OPACITY = 0.5;

        const start = { "lat": {{ home.lat }}, 'lon': {{ home.lon }} }

        const myGlobe = Globe()
            .globeImageUrl('//unpkg.com/three-globe/example/img/earth-night.jpg')
            (document.getElementById('globeViz'))
            .pointAltitude('size')
            .pointColor('color')
            .arcLabel(d => `${d.ip}: ${d.org} &#8594; ${d.city}`)
            .arcStartLat(start.lat)
            .arcStartLng(start.lon)
            .arcEndLat(d => d.lat)
            .arcEndLng(d => d.lon)

            .arcDashLength(0.5)
            .arcDashGap(1)
            .arcDashInitialGap(() => Math.random())
            .arcDashAnimateTime(4000)
            .arcColor(d => [`rgba(0, 255, 0, ${OPACITY})`, `rgba(255, 0, 0, ${OPACITY})`])
            .arcsTransitionDuration(0)


        function fetchConnections() {
            fetch('http://{{ listen_address }}:{{ listen_port }}/results')
                .then(res => res.json())
                .then(data => {
                    myGlobe.arcsData(data);
                });
        }

        fetchConnections()
        setInterval(function () {
            fetchConnections()
        }, 30000)


        // Add auto-rotation
        myGlobe.controls().autoRotate = true;
        myGlobe.controls().autoRotateSpeed = 0.6;

    </script>
</body>